<h1> Range and IQR </h1>

You will be working on the Amazon Book Review Dataset and
<ul><li>Calculate Range</li>
    <li>Calculate IQR</li>
    </ul>

<h3> Import Libraries</h3>

You will be using two important libraries for this code walkthrough. Matplotlib is a very interesting library in python used for plotting graphs easily. Pandas is used to work with tabular data which are nothing but dataframes and has various inbuilt functions which are quite helpful for data preprocessing like to identify missing Values

In [ ]:
# Import matplotlib, numpy, pandas libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h3>Import Amazon Book Review Dataset</h3>

You will be working on the Amazon Book Review Dataset, find the measures of central tendency for the columns and also drop the missing values

In [ ]:
# Import Dataset using pandas

df=pd.read_csv(r"C:\Users\JAY\Desktop\amazonbook.csv")

<h3>Display the Dataset</h3>

It is a good practise to display the dataset to make sure the data is correct and also to identify different data types you are working with.

In [ ]:
# Display the first five rows of dataset

df.head(5)

,Title,Author,Price,Pages,Reviews,Weight,Language,User Rating,pages
0,Data Analysis Using R (Low Priced Edition): A ...,[ Dr Dhaval Maheta],6.75,500.0,23.0,2.53,English,3,500
1,Guerrilla Data Analysis Using Microsoft Excel:...,"[ Oz du Soleil, and , Bill Jelen]",32.07,274.0,10.0,1.40,English,4,274
2,Python para Principiantes: 2 Libros en 1: Prog...,[ Programming Languages Academy],19.38,234.0,56.0,1.47,Spanish,3,234
3,Excel Data Analysis For Dummies (For Dummies (...,[ Paul McFedries],24.49,368.0,12.0,1.30,English,2,368
4,SQL for Data Analysis: Advanced Techniques for...,[ Cathy Tanimura],40.49,360.0,72.0,1.20,English,5,360

<h3>Range</h3>

Range is the difference of Maximum and Minimum value of data points

<h3>Calculate Range</h3>

You will calculate Range by creating a function in python<br>

In [ ]:
def calculate_range(column):

    """ This function calculates
    the Range of given column"""

    minimum=min(column)
    maximum=max(column)
    Range= maximum-minimum
    return Range

In [ ]:
# Print values for range for columns

print(calculate_range(df["Pages"]))
print(calculate_range(df["Reviews"]))
print(calculate_range(df["Price"]))

826.0
26559.0
1317.75

<h3>IQR</h3>

InterQuartileRange is the difference of third quartile and first quartile of data points

<h3>Calculate IQR</h3>
<br>
You will calculate IQR by creating a function in python<br>

In [ ]:
def calculate_iqr(data):

    """ This function calculates
    the IQR of given column"""

    data=data.dropna()
    sorted_data = sorted(data)
    n = len(sorted_data)
    q1_index = int(0.25 * (n + 1))
    q3_index = int(0.75 * (n + 1))
    q1 = sorted_data[q1_index - 1]
    q3 = sorted_data[q3_index - 1]
    iqr = q3 - q1

    return iqr

In [ ]:
# Print values for IQR for columns

print(calculate_iqr(df["Pages"]))
print(calculate_iqr(df["Reviews"]))
print(calculate_iqr(df["Price"]))

242.0
159.0
28.51