<h1> Variance and Standard Deviation</h1>

You will be working on the Amazon Book Review Dataset and
<ul><li>Calculate Variance</li>
    <li>Calculate Standard Deviation</li>
    </ul>

<h3> Import Libraries</h3>

You will be using two important libraries for this code walkthrough. Matplotlib is a very interesting library in python used for plotting graphs easily. Pandas is used to work with tabular data which are nothing but dataframes and has various inbuilt functions which are quite helpful for data preprocessing like to identify missing Values

In [ ]:
# Import matplotlib, numpy, pandas libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h3>Import Amazon Book Review Dataset</h3>

You will be working on the Amazon Book Review Dataset, find the measures of central tendency for the columns and also drop the missing values

In [ ]:
# Import Dataset using pandas

df = pd.read_csv(r"C:\Users\JAY\Desktop\amazonbook.csv")

<h3>Display the Dataset</h3>

It is a good practise to display the dataset to make sure the data is correct and also to identify different data types you are working with.

In [ ]:
# Display the first five rows of dataset

df.head(5)

,Title,Author,Price,Pages,Reviews,Weight,Language,User Rating,pages
0,Data Analysis Using R (Low Priced Edition): A ...,[ Dr Dhaval Maheta],6.75,500.0,23.0,2.53,English,3,500
1,Guerrilla Data Analysis Using Microsoft Excel:...,"[ Oz du Soleil, and , Bill Jelen]",32.07,274.0,10.0,1.40,English,4,274
2,Python para Principiantes: 2 Libros en 1: Prog...,[ Programming Languages Academy],19.38,234.0,56.0,1.47,Spanish,3,234
3,Excel Data Analysis For Dummies (For Dummies (...,[ Paul McFedries],24.49,368.0,12.0,1.30,English,2,368
4,SQL for Data Analysis: Advanced Techniques for...,[ Cathy Tanimura],40.49,360.0,72.0,1.20,English,5,360

<h3>Variance</h3>

Range is the difference of Maximum and Minimum value of data points

<h3>Calculate Variance</h3>

You will calculate Variance by creating a function in python<br>

In [ ]:
def calculate_variance(data):

    """ This function calculates
    the Variance of given column"""

    data=data.dropna()
    mean = sum(data) / len(data)
    squared_diff = [(x - mean) ** 2 for x in data]
    variance = sum(squared_diff) / len(data)
    return variance

In [ ]:
# Print values for range for columns

print(calculate_variance(df["Pages"]))
print(calculate_variance(df["Reviews"]))
print(calculate_variance(df["Price"]))

33304.6001822697
1781118.607172765
4020.554583894445

<h3>Standard Deviation</h3>

Standard Deviation is the difference of third quartile and first quartile of data points

<h3>Calculate Standard Deviation</h3>
<br>
You will calculate standard deviation by creating a function in python<br>

In [ ]:
def calculate_sd(data):

    """ This function calculates
    the Standard Deviation of given column"""

    variance = calculate_variance(data)
    sd = variance ** 0.5
    return sd

In [ ]:
# Print values for IQR for columns

print(calculate_sd(df["Pages"]))
print(calculate_sd(df["Reviews"]))
print(calculate_sd(df["Price"]))

182.49547989544755
1334.585556333038
63.40784323642025