<h1> Covariance and Correlation</h1>

You will be working on the Amazon Book Review Dataset and
<ul><li>Calculate Covariance</li>
    <li>Calculate Correlation</li>
    </ul>

<h3> Import Libraries</h3>

You will be using two important libraries for this code walkthrough. Matplotlib is a very interesting library in python used for plotting graphs easily. Pandas is used to work with tabular data which are nothing but dataframes and has various inbuilt functions which are quite helpful for data preprocessing like to identify missing Values

In [ ]:
# Import matplotlib, numpy, pandas libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h3>Import Amazon Book Review Dataset</h3>

You will be working on the Amazon Book Review Dataset, find the measures of central tendency for the columns and also drop the missing values

In [ ]:
# Import Dataset using pandas

df = pd.read_csv(r"C:\Users\JAY\Desktop\amazonbook.csv")

<h3>Display the Dataset</h3>

It is a good practise to display the dataset to make sure the data is correct and also to identify different data types you are working with.

In [ ]:
# Display the first five rows of dataset

df.head(5)

,Title,Author,Price,Pages,Reviews,Weight,Language,User Rating,pages
0,Data Analysis Using R (Low Priced Edition): A ...,[ Dr Dhaval Maheta],6.75,500.0,23.0,2.53,English,3,500
1,Guerrilla Data Analysis Using Microsoft Excel:...,"[ Oz du Soleil, and , Bill Jelen]",32.07,274.0,10.0,1.40,English,4,274
2,Python para Principiantes: 2 Libros en 1: Prog...,[ Programming Languages Academy],19.38,234.0,56.0,1.47,Spanish,3,234
3,Excel Data Analysis For Dummies (For Dummies (...,[ Paul McFedries],24.49,368.0,12.0,1.30,English,2,368
4,SQL for Data Analysis: Advanced Techniques for...,[ Cathy Tanimura],40.49,360.0,72.0,1.20,English,5,360

<h3>Covariance</h3>

Range is the difference of Maximum and Minimum value of data points

<h3>Calculate Covariance</h3>

You will calculate Covariance by creating a function in python<br>

In [ ]:
def calculate_covariance(x, y):

    """ This function calculates
    the Covariance of given column"""
    x=x.fillna(0)
    y=y.fillna(0)
    mean_x = sum(x) / len(x)
    mean_y = sum(y) / len(y)
    covariance = sum((x_i - mean_x) * (y_i - mean_y) for x_i, y_i in zip(x, y)) / len(x)
    return covariance

In [ ]:
# Print values for Covariance for columns

print(calculate_covariance(df["Pages"],df["Reviews"]))

-18607.404993939326

<h3>Correlation</h3>

Standard Deviation is the difference of third quartile and first quartile of data points

<h3>Calculate Correlation</h3>
<br>
You will calculate Correlation by creating a function in python<br>

In [ ]:
def calculate_correlation(x,y):

    """ This function calculates
    the Correlation of given column"""
    x=x.fillna(0)
    y=y.fillna(0)
    covariance = calculate_covariance(x, y)
    std_dev_x = (sum((x_i - sum(x) / len(x))**2 for x_i in x) / len(x))**0.5
    std_dev_y = (sum((y_i - sum(y) / len(y))**2 for y_i in y) / len(y))**0.5
    correlation = covariance / (std_dev_x * std_dev_y)

    return correlation

In [ ]:
# Print values for Correlation for columns

print(calculate_correlation(df["Pages"],df["Reviews"]))

-0.07220835006169597